<div class="flex justify-center items-center h-screen bg-blue-900">
    <div class="container mx-auto lg:max-w-2xl columns-1 bg-gray-600 p-4 my-8" style="margin-top: 70px;">
      <div class="flex flex-col">
    
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-10">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar..." class="form-control campo-buscar" (keyup)="filtrarPersonas()">
            <button class="px-4 py-2 bg-blue-600 text-white rounded" >Agregar</button>
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm text-slate-300 font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4">Nombre Usuario</th>
                            <th scope="col" class="px-6 py-4">Activo</th>
                            <th scope="col" class="px-6 py-4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personaPaginated">
                            <td>{{ persona.primerNombre }} {{ persona.primerApellido }}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <svg *ngIf="persona.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                                </svg>
                                <svg *ngIf="!persona.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                              </td>
                            <div class="flex flex-row">
                                <td>
                                    <button class="btn" (click)="abrirVentanaAsignarFechaHora(persona)">Asignar</button>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex justify-between items-center mt-4">
              <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaAnterior()"
                [disabled]="currentPage === 1">Anterior</button>
              <div>Página {{ currentPage }} de {{ getTotalItems() > 0 ? getTotalPages() : 1 }}</div>
              <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaSiguiente()"
                [disabled]="currentPage === getTotalPages()">Siguiente</button>
            </div>
            <div class="mt-6 flex justify-end">
            
              <button class="rounded-md bg-teal-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-400" (click)="cancelar()">Volver</button>
            
            </div>    
          </div>
          
        </div>
      </div>
    </div>
    </div>
