<div class="container mx-auto lg:max-w-2xl columns-1 bg-gray-600">
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-10">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm text-slate-300 font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Nombre Documento</th>            
              </tr>
            </thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500" *ngFor="let Documento of Documentos">
                <td class="whitespace-nowrap px-6 py-4">{{ Documento.nombre }}</td>                
              </tr>
              <!-- <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4">Mark</td>             
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>  
