<div class="flex justify-center items-center h-screen bg-blue-900">
  <div class="container mx-auto lg:max-w-8xl columns-1 bg-gray-600 p-4 my-8" style="margin-top: 70px;">
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-10">
          <button class="px-4 py-2 bg-blue-600 text-white rounded" (click)="altaLlamado()">Agregar</button>
          <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar..." class="form-control campo-buscar" (keyup)="filtrarLlamados()">  
          <select id="opciones" (change)="seleccionarOpcion($event)" >
            <option value="todos">Todos</option>
            <option value="activos">Activos</option>
            <option value="inactivos">Inactivos</option>
          </select>
          <div class="overflow-hidden">
                
            <table class="min-w-full text-left text-sm text-slate-300 font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Nombre Llamado</th>
                <th scope="col" class="px-6 py-4">Activo</th>
                <th scope="col" class="px-6 py-4">Estado</th>
                <th scope="col" class="px-6 py-4">Tribunal</th>
                <th scope="col" class="px-6 py-4">Postulantes</th>
                <th scope="col" class="px-6 py-4" *ngIf="isAdmin()">Añadir Postulante</th>
                <th scope="col" class="px-6 py-4">Modificar Estado</th>
                <th scope="col" class="px-6 py-4" *ngIf="isAdmin()">Modificar Llamado</th>
                <th scope="col" class="px-6 py-4" *ngIf="isAdmin()">Dar baja</th>
                <th scope="col" class="px-6 py-4" *ngIf="isAdmin()">Dar alta</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500" *ngFor="let llamado of llamadoPaginated">
                
                <td class="whitespace-nowrap px-6 py-4">{{ llamado.nombre }}</td>  
                <td class="whitespace-nowrap px-6 py-4">
                  <svg *ngIf="llamado.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                  </svg>
                  <svg *ngIf="!llamado.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </td> 
                <td class="whitespace-nowrap px-6 py-4">{{ llamado.ultimoEstado.llamadoEstadoPosible.nombre}}</td>
                <td class="whitespace-nowrap px-6 py-4">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="agregarTribunal(llamado.id)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                    </svg>   
                  </div>              
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="listarPostulantes(llamado.id)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                    </svg>   
                  </div>              
                </td>
                <td class="whitespace-nowrap px-6 py-4" *ngIf="isAdmin()">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="asignarPostulante(llamado.id)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                    </svg>
                  </div>
                </td>
                <td class="whitespace-nowrap px-6 py-4"><button class="btn" (click)="abrirVentanaAsignarEstadoLlamado(llamado)">Asignar Estado</button></td>
                <td class="whitespace-nowrap px-6 py-4" *ngIf="isAdmin()">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="modificarLlamado(llamado)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                  </div>
                </td>
                <td class="whitespace-nowrap px-6 py-4" *ngIf="isAdmin()">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="modificarEstado('eliminar',llamado)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </div>
                </td>
                <td class="whitespace-nowrap px-6 py-4" *ngIf="isAdmin()">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" (click)="modificarEstado('activar',llamado)" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                  </div>
                </td>
              </tr> <div class="overflow-hidden">
               
                  </div>
            </tbody>
          </table> 
           
          
               
        </div>
        <div class="flex justify-between items-center mt-4">
          <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaAnterior()"
              [disabled]="currentPage === 1">Anterior</button>
            <div> Página {{ currentPage }} de {{ getTotalItems() > 0 ? getTotalPages() : 1 }} </div>

          <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaSiguiente()"
            [disabled]="currentPage === getTotalPages()">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>