<div class="flex justify-center items-center h-screen bg-blue-900">
  <div class="w-1/3 bg-gray-100 shadow-lg rounded-lg p-6">
    <form #form="ngForm" (submit)="registrarLlamado(form)" class="max-w-md mx-auto grid grid-cols-2 gap-4">
      <h4 class="col-span-2">Llamado</h4>
      <div class="mb-2">
        <label for="identificador" class="block mb-2 text-sm font-medium text-gray-700">Identificador:</label>
        <input type="text" id="identificador" name="identificador" [(ngModel)]="llamado.identificador"
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="mb-2">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-700">Nombre Llamado:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="llamado.nombre" required
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="mb-2">
        <label for="linkPLanillaPuntajes" class="block mb-2 text-sm font-medium text-gray-700">Enlace para planilla de puntajes:</label>
        <input type="text" id="linkPLanillaPuntajes" name="linkPLanillaPuntajes" [(ngModel)]="llamado.linkPlanillaPuntajes" required
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="mb-2">
        <label for="linkActa" class="block mb-2 text-sm font-medium text-gray-700">Enlace para Acta:</label>
        <input type="text" id="linkActa" name="linkActa" [(ngModel)]="llamado.linkActa"
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="mb-2">
        <label for="minutosEntrevista" class="block mb-2 text-sm font-medium text-gray-700">Duracion entrevista (minutos):</label>
        <input type="numeric" id="minutosEntrevista" name="minutosEntrevista" [(ngModel)]="llamado.minutosEntrevistaminutosEntrevista" required
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="mb-2">
        <label for="tipoDocumentoId" class="block mb-2 text-sm font-medium text-gray-700">Area:</label>
        <select id="idArea" name="idArea" [(ngModel)]="llamado.areaId" required
          class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
          <option value="" disabled selected>Seleccionar</option>
          <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
        </select>
      </div>
      <button type="submit" class="col-span-2 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg">Registrar Llamado</button>
    </form>
  </div>
</div>
