<div class="flex justify-center items-center h-screen bg-blue-900">
  <div class="container mx-auto lg:max-w-8xl columns-1 bg-gray-600 p-4 my-8" style="margin-top: 70px;">
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-10">
          <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm text-slate-300 font-light">
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Nombre Persona</th>
                  <th scope="col" class="px-6 py-4">Priemer Apellido</th>  
                  <th scope="col" class="px-6 py-4">Activo</th>
                  <th scope="col" class="px-6 py-4">Asignar Entrevista</th>
                  <th scope="col" class="px-6 py-4">Entrevista realizada</th>
                  <th scope="col" class="px-6 py-4">Estudio de meritos realizada</th>

                  <!--<th scope="col" class="px-6 py-4">dar de baja</th>
                  <th scope="col" class="px-6 py-4">dar de alta</th>-->
                </tr>
              </thead>
              <tbody>
                <tr class="border-b dark:border-neutral-500" *ngFor="let registro of registrosPaginated">
                  <td class="whitespace-nowrap px-6 py-4">{{ registro.persona.primerNombre }} </td>
                  <td class="whitespace-nowrap px-6 py-4">{{ registro.persona.primerApellido }} </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <svg *ngIf="registro.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                    </svg>
                    <svg *ngIf="!registro.activo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4" *ngIf="registro.fechaHoraEntrevista != null" >{{ registro.fechaHoraEntrevista }} </td>
                  <td class="whitespace-nowrap px-6 py-4" *ngIf="registro.fechaHoraEntrevista == null">
                    <button class="btn" (click)="abrirVentanaAsignarFechaHora(registro)">Asignar</button>
                    <!--<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"  style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>-->
                  </td> 
                    <td class="whitespace-nowrap px-6 py-4">
                    <svg *ngIf="!registro.entrevistaRealizada" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"  (click)="estadoPostulante(registro, 'entrevistaRealizada')" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    <svg *ngIf="registro.entrevistaRealizada" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                    </svg>
                  </td>   
                  <td class="whitespace-nowrap px-6 py-4">
                    <svg *ngIf="!registro.estudioMeritosRealizado" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"  (click)="estadoPostulante(registro, 'estudioMeritosRealizado')" style="cursor: pointer">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    <svg *ngIf="registro.estudioMeritosRealizado" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                    </svg>
                  </td>             
                  <!--<td class="whitespace-nowrap px-6 py-4">
                    <div class="flex items-center justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" class="w-6 h-6" (click)="estadoPostulante(registro, 'eliminar')" style="cursor: pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>  
                    </div>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <div class="flex items-center justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" class="w-6 h-6" (click)="estadoPostulante(registro, 'activar')" style="cursor: pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg> 
                    </div>                 
                  </td>-->
                </tr>
              </tbody>
            </table>
          </div>
        <div class="flex justify-between items-center mt-4">
          <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaAnterior()"
            [disabled]="currentPage === 1">Anterior</button>
          <div>Página {{ currentPage }} de {{ getTotalItems() > 0 ? getTotalPages() : 1 }}
            
          </div>
          <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaSiguiente()"
            [disabled]="currentPage === getTotalPages()">Siguiente</button>
        </div>
      </div>
    </div>
    <div class="mt-6 flex justify-end" *ngIf="isLoggedIn()&&isTribunal()">    
      <button class="rounded-md bg-teal-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-400" (click)="cancelar()">Volver</button>
    </div>
    <div class="mt-6 flex justify-end" *ngIf="isLoggedIn()&&isAdmin()">    
      <button class="rounded-md bg-teal-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-400" (click)="cancelar2()">Volver</button>
    </div>
  </div>
</div>

