<div class="container mx-auto lg:max-w-2xl columns-1 bg-gray-600 p-4 my-8">
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-10"> 
        <button class="px-4 py-2 bg-blue-600 text-white rounded" (click)="altaPersona()">Agregar</button>
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm text-slate-300 font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Nombre Persona</th>
                <th scope="col" class="px-6 py-4">Priemer Apellido</th>                
                <th scope="col" class="px-6 py-4">Añadir</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500" *ngFor="let persona of personaPaginated">
                <td class="whitespace-nowrap px-6 py-4">{{ persona.primerNombre }} </td>
                <td class="whitespace-nowrap px-6 py-4">{{ persona.primerApellido }} </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"  style="cursor: pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="flex justify-between items-center mt-4">
        <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaAnterior()"
          [disabled]="currentPage === 1">Anterior</button>
        <div>Página {{ currentPage }} de {{ getTotalItems() > 0 ? getTotalPages() : 1 }}
          
        </div>
        <button class="px-3 py-1 bg-gray-300 text-gray-600 rounded text-sm" (click)="irPaginaSiguiente()"
          [disabled]="currentPage === getTotalPages()">Siguiente</button>
      </div>
    </div>
  </div>
</div>


